<section class="section__footer">
    <div class="section__footer-logoPrincipal">
        <img src="../../../assets/footer/logo-redondo-footer.png" alt="">
    </div>
    <div class="section__footer-navbar-navbar">
        <ul class="section__footer-navbar">
            <li><a class="enlaces__href" href="#usuarios">ShootingPro Usuarios</a></li>
            <li><a class="enlaces__href" href="#canchas">ShootingPro Empresas</a></li>
            <li><a class="enlaces__href" href="#precios">Precios</a></li>
            <li><a class="enlaces__href" href="#contacto">Contacto</a></li>
        </ul>
        <div class="section__footer-container">
            <ul class="section__footer-navbarRedes">
                <li><a href=""><img src="../../../assets/footer/svg/facebook-tiro.png" alt=""></a></li>
                <li><a href=""><img src="../../../assets/footer/svg/twitter-tiro.png" alt=""></a></li>
                <li><a href=""><img src="../../../assets/footer/svg/instagram-tiro.png" alt=""></a></li>
                <li><a href=""><img src="../../../assets/footer/svg/googleplus-tiro.png" alt=""></a></li>
                <li><a href=""><img src="../../../assets/footer/svg/linkedin-tiro.png" alt=""></a></li>
            </ul>
            <div class="section__footer-logo">
                <img src="../../../assets/footer/logoSecundario.png" alt="">
            </div>
        </div>
    </div> 
</section>